<!DOCTYPE HTML>
<html>
  <% include head %>

<body id="body" onmousedown="return false;">

<% include top %>


<div id="wrapper" class="container"> 
  <div id="rouletteContainer">
    <p class="text-center h1">選択を、みんなで、カラフルに</p>
      <!-- 描画用フィールド -->
      <svg id="rouletteArea" 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
      </svg>
  </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">シェア</button>
      </div>
      <div class="btn-group" role="group">
        <a href="/login" class="btn btn-default btn-lg text-center">はじめる</a>
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ルーレットをシェア</h4>
      </div>
      <div class="modal-body">
      <p class="text-center"> <%- QRURL %> </p>

  <img class="img-responsive" style="margin: 0 auto;" src="http://www.it-top.biz/qr/qrapi/?d=<%- QRURL %>&s=8&q=4">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>


<script charset="UTF-8" type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>

<script>
<% if(labels){ %>
  var labels = <%- JSON.stringify(labels) %>;
<% } %>
</script>
<script charset="UTF-8" type="text/javascript" src="/js/main.js"> </script>
</body>
</html>
