<!doctype html>
<html lang="ja">
<% include head %>
<body>

<% include top %>

<div id="wrapper" class="container">
  <div class="m-content">
    <% if(message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/login" method="POST" class="m-form" >
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </div>

  <form action="/signup" method="GET" class="m-form">
    <div class="form-group">
      <button type="submint" class="btn btn-default" id="toAdd" >Create</button>
    </div>
  </form>

  <form action="/facebook" method="GET" class="m-form">
    <div class="form-group">
      <button type="submint" class="btn btn-default" id="toAdd" >Facebook Login</button>
    </div>
  </form>

  <form action="/twitter" method="GET" class="m-form">
    <div class="form-group">
      <button type="submint" class="btn btn-default" id="toAdd" >Twitter Login</button>
    </div>
  </form>
</div>
</body>
</html>
