<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>ログイン前</title>
</head>
<body>
  <h2>ログイン</h2>
  <form action="/login" method="GET">
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">ログイン</button>
  </form>

  <h2>新規登録</h2>
  <form action="/add" method="GET">
    <button type="submit">作成</button>
  </form>
</body>
</html>
