<!DOCTYPE HTML>
<html>
	<% include head %>

<body id="body" onmousedown="return false;">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">minlette</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">udonka さん<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">設定</a></li>
            <li class="divider"></li>
            <li><a href="#">ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div id="wrapper" class="container"> 
    <div id="rouletteContainer">
        <!-- 描画用フィールド -->
        <svg id="rouletteArea" 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>


    </div>

    <p></p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button id="start" type="button" class="btn btn-default">start</button>
      </div>
      <div class="btn-group" role="group">
        <button id="stop" type="button" class="btn btn-default">stop</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">編集</button>
      </div>
    </div>
</div>


<div id="qrcode"></div>

<script defer="defer" charset="UTF-8" type="text/javascript" src="/js/main.js"> </script>
<script charset="UTF-8" type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script src="/components/jquery-qrcode/jquery.qrcode.min.js"></script>
</body>
<script>
$('#qrcode').qrcode(location.href);
</script>
</body>
</html>


